.underline {
text-decoration: underline;
}
.line-throught {
text-decoration: line-through;
}
.bbedit-toolbar {
line-height: 20px;
font-size: 10px;
}
.bbedit-toolbar span {
padding: 3px 8px;
border: 1px solid #B2B2B2;
background-color: #F0F0F0;
cursor: pointer;
}
.bbedit-toolbar span.hover,
.bbedit-toolbar span:hover {
border-color: #777777;
background-color: #E5E5E5;
}
.bbedit-smileybar img {
margin-right: 3px;
cursor: pointer;
}
.bbedit-b {
background: url("icons.gif") no-repeat 0 0;
}
.bbedit-i {
background: url("icons.gif") no-repeat -20px 0;
}
.bbedit-u {
background: url("icons.gif") no-repeat -40px 0;
}
.bbedit-s {
background: url("icons.gif") no-repeat -60px 0;
}
.bbedit-url {
background: url("icons.gif") no-repeat -80px 0;
}
.bbedit-img {
background: url("icons.gif") no-repeat -100px 0;
}
.bbedit-code {
background: url("icons.gif") no-repeat -120px 0;
}
.bbedit-quote {
background: url("icons.gif") no-repeat -140px 0;
}


